.testimonials-section {
  background-color: #333333;

  border: #333333 solid 10px;
}

.testimonials-section h1 {
  color: #edefee;
  font-style: Markanzi text;
}

.review-card {
  padding: 10px;
  margin: 10px;

  background-color: #edefee;
  border-radius: 16px;
}
